cirq
cirq-rigetti
dimod
dwave-networkx
fitz
ipython
jupyter
Keras
matplotlib==3.4.3
minorminer
networkx
numpy
opencv-python
pandas
Pillow
pylint
pylatex
PyMuPDF
regex
scikit-learn
scipy
tensorflow
torch
torchvision
tqdm
qutip